DOMAIN_NAME=fernando.42.fr
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=fernando_wp
WORDPRESS_DB_HOST=mariadb

MARIADB_ROOT_USER=root

WP_ADMIN_USER=fernando_admin
WP_ADMIN_EMAIL=fernando_admin@42.fr

WP_USER=fernando
WP_USER_EMAIL=fernando@42.fr

NGINX_PORT=443